@import "../../globals.scss";

.posts {
    @include themify($theme) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: themed("textColor");

        .no-posts-container {
            padding: 20px;
            background-color: themed("bg");
            border-radius: 20px;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
        }
    }
}