@import "../../globals.scss";

.reset-password {
    height: 100vh;
    margin-bottom: -50px;
    min-height: calc(100vh - 70px);
    width: 100vw;
    background: linear-gradient(rgba(21, 2, 55, 0.852), rgba(103, 67, 145, 0.699)), url("/default/front-image.webp"), center;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 30%;
        display: flex;
        background-color: aliceblue;
        border-radius: 10px;
        min-height: fit-content;
        justify-content: center;

        .reset-password-input {
            width: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .logo-container {
                display: flex;
                justify-content: center;

                .font-logo {
                    width: 150px;
                    height: auto;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 10px 10px 10px 0;
                    outline: none;
                    background-color: transparent;
                }

                .input-invalid::placeholder {
                    color: red;
                }

                .button-div {
                    margin-top: 10px;

                    button {
                        width: 100%;
                        padding: 10px 20px;
                        border: none;
                        background-color: #80669d;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        border-radius: 20px;
                    }
                    
                    button:hover {
                        background-color: #a881af;
                    }
                }

                p {
                    font-size: 14px;
                    a {
                        color: #000000;
                    }
                }

                .reset-error-message {
                    color: red;
                    font-size: 14px;
                }
            }

            @include tablet {
                min-width: 20px;
            }
        }

        @include mobile {
            width: 80%;
        }

        @include tablet {
            width: 50%;
        }
    }
}