@import "../../globals.scss";

.writepost {

    @include themify($theme) {
        box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        margin-bottom: 20px;

        .writepost-container {
            padding: 20px;

            .writepost-container-top {
                display: flex;
                align-items: top;
                justify-content: space-between;
        
                .top-left-part {
                    display: flex;
                    // align-items: center;
                    flex: 7;
                    

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                        margin-top: 10px;
                    }

                    .input-box {
                        width: 80%;
                        display: flex;
                        flex-direction: column;

                        input {
                            border: none;
                            outline: none;
                            background-color: transparent;
                            padding: 10px 10px;
                            width: 100%;
                            color: themed("textColor");
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }

                        textarea {
                            border: none;
                            outline: none;
                            resize: none;
                            padding: 15px 10px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            background-color: transparent;
                            width: 100%;
                            height: 50px;
                            color: themed("textColor");
                            white-space: pre-wrap;
                        }
                    }
                }
                    
                .top-right-part {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    padding: 10px;

                    .imageFile {
                        width: 110px;
                        height: 110px;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }
            }
      
            hr {
                margin: 20px 0px;
                border: none;
                height: 0.5px;
                background-color: themed("border");
            }
      
            .writepost-container-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .bottom-left-part {
                    display: flex;
                    align-items: center;
                    gap: 20px;
            
                    .item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
            
                        img {
                            height: 20px;
                        }
            
                        span {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }

                .bottom-right-part {
                    button {
                        border: none;
                        padding: 10px 20px;
                        color: white;
                        cursor: pointer;
                        background-color: #938EEF;
                        font-weight: bold;
                        border-radius: 20px;
                    }

                    button:hover {
                        background-color: #7e78fb;
                    }
                }
            }
        }
    }
}