@import "../../globals.scss";

.writepost {

    @include themify($theme) {
        box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
        -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        margin-bottom: 20px;

        .writepost-container {
            padding: 20px;

            .writepost-container-top {
                display: flex;
                align-items: top;
                justify-content: space-between;
        
                .top-left-part {
                    display: flex;
                    // align-items: center;
                    flex: 7;
                    
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                        margin-top: 10px;
                    }

                    .input-box {
                        width: 80%;
                        display: flex;
                        flex-direction: column;

                        input {
                            border: none;
                            outline: none;
                            background-color: transparent;
                            padding: 10px 10px;
                            width: 100%;
                            color: themed("textColor");
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        }

                        textarea {
                            border: none;
                            outline: none;
                            resize: none;
                            padding: 10px 10px;
                            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            background-color: transparent;
                            width: 100%;
                            height: fit-content;
                            color: themed("textColor");
                            white-space: pre-wrap;
                        }

                        .input-invalid::placeholder {
                            color: red;
                        }

                        .post-error-message {
                            padding: 10px 0 0 10px;
                            display: flex;
                            font-size: 14px;
                            color: red;
                            font-weight: 500;
                        }
                    }
                }
                    
                .top-right-part {
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    position: relative;

                    .imageFile {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    #close-icon {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        background-color: #333333;
                        border-radius: 50%;
                        border: none;
                        font-weight: bold;
                        cursor: pointer;
                        color: white;
                        width: 24px;
                        height: 24px;
                        filter: invert(1);
                    }
                }

                @include mobile {
                    flex-direction: column;
                    gap: 20px;
                }
            }
      
            hr {
                margin: 20px 0px;
                border: none;
                height: 0.5px;
                background-color: themed("border");
            }
      
            .writepost-container-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .bottom-left-part {
                    display: flex;
                    align-items: center;
                    gap: 20px;
            
                    .item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
            
                        img {
                            width: 24px;
                            height: 24px;
                            filter: themed("invertColorFilter");
                        }
            
                        span {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }

                .bottom-right-part {
                    button {
                        border: none;
                        padding: 10px 20px;
                        color: white;
                        cursor: pointer;
                        background-color: themed("mainButtonColor");
                        font-weight: bold;
                        border-radius: 20px;
                    }

                    button:hover {
                        background-color: themed("mainButtonColorHover");
                    }

                    .disabled-button {
                        background-color: gray;
                        cursor: not-allowed;
                    }

                    .disabled-button:hover {
                        background-color: gray;
                    }
                }
            }
        }
    }
}