@import "../../globals.scss";

.topbar {
    @include themify($theme) {
        overflow: hidden;
        background-color: themed("bg");
        color: themed("textColor");
        border-bottom: 1px solid themed("border");
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;

        .topbar-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px;
            padding-left: 30px;
            
            .left{
                display: flex;
                align-items: center;

                .font-logo {
                    width: 100px;
                    height: auto;
                    filter: themed("invertColorFilter");
                }
            }
    
            .right {
                display: flex;
                align-items: center;
                justify-content: right;
    
                .user {
                    display: flex;
                    border-radius: 50%;

                    #user-image {
                        border-radius: 50%;
                    }
    
                    img {
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
    
                @include tablet {
                    width: 200px;
                }
            }
        }
    }
}