@import "../../globals.scss";

.comments {
    @include themify($theme) {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .write-comment-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin: 20px 0px;

            textarea {
                resize: none;
                flex: 5;
                padding: 10px;
                border: 1px solid themed("border");
                border-radius: 10px;
                background-color: transparent;
                color: themed("textColor");
                outline: none;
                white-space: pre-wrap;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .send-icon {
                color: themed("textColor");
                display: flex;
                justify-content: center;cursor: pointer;
                padding: 10px;
                border-radius: 10px;
            }

            .send-icon:hover {
                background-color: #7e78fb;
                color: #FFFFFF;
            }

            button {
                border: none;
                color: white;
                padding: 10px 20px;
                cursor: pointer;
                background-color: #938EEF;
                font-weight: bold;
                border-radius: 20px;
            }

            button:hover {
                background-color: #7e78fb;
            }
        }

        .comment-container {
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .comment-user-info {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;

                span {
                    font-weight: 500;
                }

                p {
                    color: themed("textColorSoft");
                    white-space: pre-wrap;
                    margin: 0;
                    font-size: 14px;

                }
            }

            .comment-date {
                flex: 1;
                align-self: center;
                color: grey;
                font-size: 12px;

                @include mobile {
                    flex: 2;
                }
            }
        }
    }
}