@import "../../globals.scss";

.comments {
    @include themify($theme) {
        #user-photo-comment {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

        .write-comment-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin: 20px 0px;

            textarea {
                resize: none;
                flex: 5;
                padding: 10px;
                border: 1px solid themed("border");
                border-radius: 10px;
                background-color: transparent;
                color: themed("textColor");
                outline: none;
                white-space: pre-wrap;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .send-icon-container {
                display: flex;
                justify-content: center;
                cursor: pointer;
                padding: 10px;
                border-radius: 50%;

                #send-icon {
                    width: 24px;
                    height: 24px;
                    filter: themed("invertColorFilter");
                }

            }

            .send-icon-container:hover {
                background-color: themed("mainButtonColor");

                #send-icon {
                    filter: invert(1);
                }
            }
        }

        .comment-container {
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .comment-user-info {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;

                span {
                    font-weight: 500;
                }

                p {
                    color: themed("textColorSoft");
                    white-space: pre-wrap;
                    margin: 0;
                    font-size: 14px;

                }
            }

            .comment-date {
                flex: 1;
                align-self: center;
                color: grey;
                font-size: 12px;

                @include mobile {
                    flex: 2;
                }
            }
        }
    }
}