@import "../../globals.scss";

.event {
    @include themify($theme) {
        background-color: themed("bgSoft");
        padding: 90px 30px 30px 30px;
        min-height: 100vh;
        color: themed("textColor");
        overflow-x: hidden;
        
        .event-container {
            background-color: themed("bg");
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            padding: 20px;
            border-radius: 20px;
            overflow-x: hidden;

            h2 {
                margin-top: 5px;
            }

            .event-selection {
                display: flex;
                position: relative;
                gap: 10px;

                #events {
                    flex: 6;
                }

                #dates {
                    flex: 1;
                }

                select {
                    width: 100%;
                    padding: 5px;
                    font-size: 14px;
                    background-color: transparent;
                    color: themed("textColor");
                    border: none;
                    outline: none;
                    border-bottom: 1px solid lightgray;

                    option {
                    padding: 10px;
                        color: themed("textColor");
                        background-color: themed("bgSoft");
                    }
                }

                @include mobile {
                    flex-direction: column;
                }
            }

            .buttons-container {
                padding: 20px 0 20px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: end;

                @include mobile {
                    span {
                        display: none;
                    }
                }

                img {
                    width: 20px;
                    height: 20px;
                    filter: invert(1);
                }
               
                button {
                    border: none;
                    padding: 10px;
                    padding-right: 15px;
                    color: white;
                    cursor: pointer;
                    background-color: themed("mainButtonColor");
                    font-weight: bold;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    @include mobile {
                        height: 35px;
                        padding-right: 10px;
                    }
                }

                button:hover {
                    background-color: themed("mainButtonColorHover");
                }
            }

            .table-participant-list {
                font-size: 14px;
                overflow-x: auto;

                #participants {
                    border-collapse: collapse;
                    width: 100%;
                    //word-break: break-word;
                }

                #participants td, #participants th {
                    //border: 1px solid #dddddd;
                    padding: 5px;
                }

                #participants tr:not(:first-child):hover {
                    background-color: #d8d6f8;
                    color: black;
                }

                #participants th {
                    text-align: left;
                    background-color: themed("bgSoft");
                }

                @include mobile {
                    width: 83vw;
                }
            }
        }

        @include mobile {
            padding: 80px 10px 20px 10px;
        }
    }
}