@import "../../globals.scss";

.profileMenu {
    @include themify($theme) {
        position: fixed;
        top: 60px;
        right: 20px;

        .wrapper {
            background-color: themed("bg");
            width: fit-content;
            height: fit-content;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
             
            .button-div {
                justify-content: center;
                align-items: center;
                display: flex;
                button {
                    border: none;
                    padding: 10px 20px;
                    color: white;
                    cursor: pointer;
                    background-color: #f0544f;
                    font-weight: bold;
                    border-radius: 20px;
                }
        
                button:hover {
                    background-color: #a3413d;
                }
            }
        }
    }
};