@import "../../globals.scss";

.profile-menu {
    @include themify($theme) {
        position: fixed;
        top: 60px;
        right: 20px;

        .menu-list {
            display: flex;
            flex-direction: column;
            background-color: themed("bg");
            width: 150px;
            height: fit-content;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            cursor: pointer;

            .list {
                padding: 5px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 10px;

                #icon {
                    width: 24px;
                    height: 24px;
                    filter: themed("invertColorFilter");
                }
            }

            .list:hover {
                background-color: themed("activitiesHighlight");
            }
        }

    }
};