@import "../../globals.scss";

.post-view {
    @include themify($theme) {
        background-color: themed("bgSoft");
        //padding: 70px 0 0 0;
        padding: 90px 30px 30px 30px;
        min-height: calc(100vh - 70px);
        color: themed("textColor");

    }
}