@import "../../globals.scss";

.updateProfile {
        @include themify($theme) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    
        .wrapper {
            margin: auto;
            width: 30%;
            height: fit-content;
            background-color: themed("bg");
            padding: 20px;
            z-index: 999;
            display: flex;
            flex-direction: column;
            gap: 20px;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
            position: relative;
            border-radius: 20px;
            
            @include mobile {
                width: 70%;
            }

            @include tablet {
                width: 70%;
            }
    
            h1 {
                color: themed("textColor");
            
                @include mobile {
                font-size: 20px;
                }
            }
    
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                .files {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    font-size: 14px;
                    color: themed("textColor");
        
                    .imageContainer {
                        position: relative;
                        
                        img {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            cursor: pointer;
                            border-radius: 10px;
                        }
            
                        .icon {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            font-size: 30px;
                            color: lightgray;
                            cursor: pointer;
                        }
                    }
                }
    
                input {
                    padding: 10px;
                    border: none;
                    margin-top: -20px;
                    border-bottom: 1px solid themed("border");
                    outline: none;
                    background-color: transparent;
                    color: themed("textColor");
                }

                textarea {
                    resize: none;
                    padding: 10px;
                    margin-top: -10px;
                    border-radius: 5px;
                    border-bottom: 1px solid themed("border");
                    color: themed("textColor");
                    outline: none;
                    background-color: transparent;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    white-space: pre-wrap;

                }

                .char-count {
                    display: flex;
                    align-items: right;
                    justify-content: right;
                    color: gray;
                    margin-top: -20px;
                    font-size: 15px;
                }
        
                button {
                    border: none;
                    padding: 10px;
                    border-radius: 20px;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    background-color: #938EEF;
                    ::hover{
                        background-color: #7e78fb;
                    }
                }

                button:hover {
                    background-color: #7e78fb;
                }

                .disabled-button {
                    background-color: gray;
                    cursor: not-allowed;
                }

                .disabled-button:hover {
                    background-color: gray;
                }
            }
    
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
                color: themed("textColor");
            }
        }
    }
}