@import "../../globals.scss";

.profile {
    @include themify($theme) {
        padding: 80px 20px 30px 30px;
        background-color: themed("bgSoft");
        min-height: calc(100vh - 70px);
        color: themed("textColor");
        overflow-x: hidden;

        .profile-container {
            display: flex;
            flex-direction: column;
            background-color: themed("bg");
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            border-radius: 20px;
            padding: 20px 20px 0 20px;
            gap: 20px;

            .profile-info {
                display: flex;
                width: 100%;
                .images {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
        
                    .profile-photo {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        object-fit: cover;

                        @include mobile {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
        
                .details {
                    height: fit-content;
                    flex: 5;
                    padding: 0 20px 0 20px;
                    color: themed("textColor");
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
        
                    .name {
                        span {
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
        
                    .bio {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 10px;
                        white-space: pre-wrap;
        
                        label {
                            font-weight: 600;
                            font-size: 16px;
                            border-bottom: 1px solid lightgray;
                        }
        
                        span {
                            font-size: 16px;
                        }
                    }
                }
    
                .button {
                    flex: 1;
                    button {
                        border: none;
                        background-color: themed("mainButtonColor");
                        font-weight: bold;
                        border-radius: 20px;
                        color: white;
                        padding: 10px 20px;
                        cursor: pointer;
                    }
    
                    button:hover {
                        background-color: themed("mainButtonColorHover");
                    }
    
                    .following-button {
                        border: 2px solid themed("mainButtonColor"); /* You can adjust the border width as needed */
                        background-color: transparent;
                        color: themed("textColor");
                    }
    
                    .following-button:hover {
                        color: white;
                    }
    
                    @include mobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
    
                @include mobile {
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .profile-tabs {
                border-top: 1px solid lightgray;
                
                .tabs-container {
                    .tabs {
                        display: flex;
                        flex-direction: row;
                        background-color: themed("bg");
                        cursor: pointer;
                        border-radius: 0 0 20px 20px;
                        justify-content: space-around;
            
                        .tab {
                            display: flex;
                            justify-content: center;
                            padding: 10px;
                            color: themed("textColor");
                            width: 30%;
                            font-size: 14px;
                        }
            
                        .active {
                            background-size: contain;
                            font-weight: 700;
                            border-bottom: 5px solid #80669d;
                        }
                    }
                }
            }
        }

        .profile-posts {
            padding-top: 20px;
        }

        @include mobile {
            padding: 80px 10px 20px 10px;
        }
    }
}