@import "../../globals.scss";

.rightbar {
    @include themify($theme) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: hidden;
        background-color: themed("bgSoft");
        color: themed("textColor");
        padding: 20px 40px 20px 20px;

        &::-webkit-scrollbar {
            display: none;
        }

        .rightbar-container {
            border-radius: 20px;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            background-color: themed("bg");
            padding: 1px 20px 20px 20px;
            height: fit-content;
            position: relative;
            display: flex;
            flex-direction: column;
            

            .user-list-container {
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                span{
                    color: themed("textColor");
                }
    
                .user-list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
    
                    .user-info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
    
                        span {
                            margin: auto;
                            font-size: 14px;
                            font-weight: 500;
                            color: themed("textColor");
                        }
    
                    }
    
                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        button {
                            border: none;
                            padding: 5px;
                            color: white;
                            cursor: pointer;
                            font-weight: bold;
                            border-radius: 20px;
                            padding: 10px 20px;
                            background-color: themed("mainButtonColor");
                        }
    
                        button:hover {
                            background-color: themed("mainButtonColorHover");
                        }
    
                        .following-button {
                            border: 2px solid themed("mainButtonColor"); /* You can adjust the border width as needed */
                            background-color: transparent;
                            color: themed("textColor");
                        }
    
                        .following-button:hover {
                            color: white;
                        }
    
                        .icon {
                            color: themed("textColor");
                        }
                    }
                }
            }

            .pagination-container {
                // position: absolute;
                // bottom: 20px;
                // left: 50%;
                // -webkit-transform: translateX(-50%);
                // transform: translateX(-50%);
                margin-bottom: 20px;

                .pagination {
                    gap: 100px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin: auto;
                    font-size: 14px;
                    border-radius: 20px;
                    border: 1px solid rgba(150, 150, 150, 0.19);
    
                    #previous {
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                    }
    
                    #next {
                        border-bottom-right-radius: 20px;
                        border-top-right-radius: 20px;
                    }

                    .disabled {
                        cursor: default;
                        img {
                            filter: invert(33%) sepia(9%) saturate(11%) hue-rotate(341deg) brightness(92%) contrast(86%);
                        }
                    }

                    .disabled:hover {
                        background-color: transparent;
                        img {
                            filter: invert(33%) sepia(9%) saturate(11%) hue-rotate(341deg) brightness(92%) contrast(86%);
                        }
                    }
    
                    button {
                        display: flex;
                        margin: auto;
                        background-color: transparent;
                        padding: 5px 10px 5px 10px;
                        border: none;
                        cursor: pointer;
    
                        img {
                            width: 20px;
                            height: 20px;
                            filter: themed("invertColorFilter");
                        }
                    }
    
                    button:hover {
                        background-color: themed("mainButtonColor");
    
                        img {
                            filter: invert(1);
                        }
                    }

                    .page-number {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}