@import "../../globals.scss";

.rightbar {
    @include themify($theme) {
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bgSoft");
        color: themed("textColor");

        &::-webkit-scrollbar {
            display: none;
        }

        .rightbar-container {
            padding: 20px 20px 0 10px;
        }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}