@import "../../globals.scss";

.activities {
    @include themify($theme) {
        background-color: themed("bgSoft");
        padding: 90px 30px 30px 30px;
        min-height: 100vh;
        color: themed("textColor");

        .activities-container {
            background-color: themed("bg");
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            padding: 20px;
            border-radius: 20px;

            h2 {
                margin-top: 5px;
            }

            .activities-list {
                display: flex;
                flex-direction: column;

                .activity {
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 25px;
                    border-radius: 5px;

                    .activity-icon {
                        display: flex;
                        align-self: flex-start;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .activity-label {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img {
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                .non-read {
                    background-color: themed("activitiesHighlight");
                }
            }
        }
    }
}