@import "../../globals.scss";

.activities {
    @include themify($theme) {
        background-color: themed("bgSoft");
        padding: 90px 30px 30px 30px;
        min-height: 100vh;
        color: themed("textColor");
    }
}