@import "../../globals.scss";

.participant-profile {
    @include themify($theme) {
        background-color: themed("bgSoft");
        //padding: 70px 0 0 0;
        padding: 90px 30px 30px 30px;
        min-height: calc(100vh - 70px);
        color: themed("textColor");

        .participant-profile-container {
            display: flex;
            background-color: themed("bg");
            background-color: themed("bg");
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            border-radius: 20px;
            padding: 20px;

            .participant-images {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
    
                .participant-profile-photo {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include mobile {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
    
            .participant-details {
                height: fit-content;
                flex: 5;
                padding-left: 20px;
                color: themed("textColor");
                display: flex;
                flex-direction: column;
                gap: 10px;
    
                .participant-name {
                    span {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
    
                .participant-bio {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    label {
                        font-weight: 600;
                        font-size: 16px;
                    }
    
                    span {
                        font-size: 16px;
                    }
                }
            }

            .participant-button {
                flex: 1;
                button {
                    border: none;
                    background-color: themed("mainButtonColor");
                    font-weight: bold;
                    border-radius: 20px;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: themed("mainButtonColorHover");
                }

                @include mobile {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @include mobile {
                flex-direction: column;
                gap: 20px;
            }
        }

        @include mobile {
            padding: 80px 10px 20px 10px;
        }
    }
}