@import "../../globals.scss";

.leftbar {
    @include themify($theme) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bg");
        color: themed("textColor");
        // color: $customTextColor; // Use your custom color variable here
        
        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            .menu {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;

                .menu-list {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    gap: 20px;
                    height: 80vh;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        font-size: 20px;
                        display: block;
                        float: left;
                        margin: auto 0 0 0;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: themed("textColor");
                    }

                    .active {
                        //background-color: #938EEF;
                        // color: #938EEF;
                        color: $customActiveTextColor;
                        font-weight: 700;
                    }
                }
            }
        }

        @include mobile {
            display: none;
        }
    }
}