@import "../../globals.scss";

.leftbar {
    @include themify($theme) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bg");
        color: themed("textColor");
        // color: $customTextColor; // Use your custom color variable here
        
        &::-webkit-scrollbar {
            display: none;
        }

        .menu {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: space-between;
                padding: 20px;

                .menu-list {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    gap: 20px;
                    height: 80vh;

                    .navlinks {
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        border-radius: 10px;
                        padding: 5px;
                       
                        span {
                            font-size: 20px;
                            display: flex;
                            padding: 5px 10px;
                            text-decoration: none;
                            color: themed("textColor");
                        }
    
                        img {
                            width: 20px;
                            height: 20px;
                            filter: themed("filterColor");
                        }

                        .notification-dot {
                            background-color: themed("notificationDot");
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            margin-bottom: 10px;
                        }
                    }

                    .active {
                        background-color: themed("mainButtonColor");
                        font-weight: 700;
                        span {
                            color: white;
                        }
                        img {
                            filter: invert(1); 
                        }
                    }
                }
            }

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}