@import "../../../globals.scss";

.post {
    @include themify($theme) {
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");

        .post-container {
            padding: 20px;

            .user-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                .user-details {
                    display: flex;
                    gap: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .user-info {
                        display: flex;
                        flex-direction: column;

                        .username {
                            font-weight: 700;
                        }

                        .date {
                            font-size: 12px;
                        }
                    }
                }

                button {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    border: none;
                    background-color: #f0544f;
                    padding: 10px 20px;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }

            .post-content-container {
                margin: 20px 0px;
                display: flex;
                flex-direction: row;

                .post-content-container-description {
                    flex: 1;
                    padding-right: 15px;
                    white-space: pre-wrap;
                    font-size: 14px;

                    .url-description {
                        color: #4093f8;
                    }

                    h3 {
                        margin-top: 0;
                    }
                }

                .post-content-container-image {
                    flex: 1;
                    //display: flex;
                    //justify-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 10px;
                        border: 1px solid grey;
                    }

                    @include mobile {
                        padding-top: 10px;
                    }
                }

                .see-more-toggle {
                    color: grey;
                    cursor: pointer;
                }

                @include mobile {
                    display: block;
                    flex-direction: row;
                }
            }

            .post-labels {
                display: flex;
                align-items: center;
                gap: 20px;

                .label {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    font-size: 14px;
                    position: relative; // Add relative positioning to the parent as there is a tooltip with position absolute


                    button {
                        border: none;
                        color: white;
                        padding: 10px 20px;
                        cursor: pointer;
                        background-color: #938EEF;
                        font-weight: bold;
                        border-radius: 20px;

                        @include mobile {
                            font-size: 12px;
                            padding: 10px 15px;
                        }
                    }

                    button:hover {
                        background-color: #7e78fb;
                    }

                    .disabled-register-button {
                        background-color: grey;
                    }

                    .disabled-register-button:hover {
                        background-color: gray;
                        cursor: default;
                    }

                    // &:hover {
                    //     .join-button-container .join-button-tooltip {
                    //         display: block;
                    //     }
                    // }

                    // .join-button-tooltip {
                    //     display: none;
                    //     position: absolute;  /* Set the position to absolute */
                    //     background-color: #333;
                    //     color: #fff;
                    //     padding: 5px;
                    //     border-radius: 5px;
                    //     //right: auto;
                    //     bottom: 100%;  /* Position it above the "Join" button */
                    //     margin-bottom: 10px;  /* Add some spacing between the tooltip and the button */
                    //     width: max-content;
                    //     text-align: left;
                    // }
                }
            }
        }
    }
}