@import "../../globals.scss";

.bottom-navbar {
    @include themify($theme) {
        overflow: hidden;
        background-color: themed("bg");
        position: fixed;
        bottom: 0;
        width: 100%;
        display: none;
        border-top: 1px solid themed("border");

        .menu {
            padding: 10px;

            .menu-list {
                display: flex;
                justify-content: space-around;

                .navlinks {
                    display: flex;
                    flex-direction: row;
                    justify-items: center;
                    align-items: center;
                    position: relative;
                    
                    span {
                        display: flex;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: themed("textColor");
                    }
    
                    img {
                        width: 20px;
                        height: 20px;
                        filter: themed("invertColorFilter");
                    }

                    .notification-dot {
                        background-color: themed("notificationDot");
                        height: 7px;
                        width: 7px;
                        border-radius: 50%;
                        top: -1px;
                        right: -1px;
                        position: absolute;
                    }
                }

                .active {
                    background-color: themed("mainButtonColor");
                    border-radius: 10px;
                    img {
                        filter: invert(1);
                    }
                }
            }
        }

        @include mobile {
            display: block;
        }

        @include tablet {
            display: block;
        }
    }
}