@import "../../globals.scss";

.explore {
    @include themify($theme) {
        background-color: themed("bgSoft");
        padding: 90px 30px 30px 30px;
        min-height: 100vh;
        color: themed("textColor");

        .explore-top-container {
            border-radius: 20px;
            background-color: themed("bg");
            //background-color: red;
            padding: 20px 20px 0 20px;
            height: fit-content;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
            margin-bottom: 20px;
            

            .search-container {
                display: flex;
                flex-direction: row;
    
                .back-button-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 15px;
                    height: 15px;
                    margin: auto;
                    margin-left: 10px;
                    border-radius: 50%;
                    
                    cursor: pointer;
                }
    
                .back-button-box:hover {
                    background-color: themed("mainButtonColorHover");
                    color: white;
                }
    
                .text-box {
                    width: 100%;
                    padding: 10px;
                    margin: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: themed("textColor");
    
                    .search-icon {
                        padding-right: 15px;
                    }
    
                    input {
                        border: none;
                        outline: none;
                        padding: 5px;
                        background-color: transparent;
                        color: themed("textColor");
                        width: 95%;
                    }
                }
    
                .search-button-box {
                    padding: 10px;
                }
    
                button {
                    border: none;
                    padding: 10px 20px;
                    color: white;
                    cursor: pointer;
                    background-color: themed("mainButtonColor");
                    font-weight: bold;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
        
                button:hover {
                    background-color: themed("mainButtonColorHover");
                }
            }

            .tabs-container {
                border-top: 1px solid lightgray;

                .tabs {
                    display: flex;
                    flex-direction: row;
                    background-color: themed("bg");
                    cursor: pointer;
                    border-radius: 0 0 20px 20px;
                    justify-content: space-around;
        
                    .tab {
                        display: flex;
                        justify-content: center;
                        padding: 10px;
                        color: themed("textColor");
                        width: 30%;
                    }
        
                    .active {
                        background-size: contain;
                        font-weight: 700;
                        border-bottom: 5px solid #80669d;
                    }
                }
            }
        }

        .not-found-message {
            padding: 20px;
            background-color: themed("bg");
            border-radius: 20px;
            box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -webkit-box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.19);
            -moz-box-shadow: 0px 2px 0px 3px rgba(0,0,0,0.19);
        }
    }
}